@(message: String, list: List[Article])

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>welcome @message!!!!</title>
</head>
<body>

<h2>@message</h2>
<table width="100%" border="1">
<tr>
	<th>id</th>
	<th>name</th>
	<th>content</th>
	<th>date</th>
</tr>
@list.map { article =>
<tr>
	<td>@article.id</td>
	<td><a href="/view/@article.id">@article.name</a></td>
	<td>@article.contents</td>
	<td>@article.createDate</td>
</tr>
}
</table>

<div id="pagination">
</div>

<input type="button" value="write" onclick="/inputForm" />
</body>
</html>